<script lang="ts">
  import { slugify } from "$lib/utils/utils";
  import ProjectItem from "$lib/components/projects/ProjectItem.svelte";
  import Fa from "svelte-fa/src/fa.svelte";
  import { faBook, faTags } from "@fortawesome/free-solid-svg-icons";
  import { timeAgo } from "$lib/utils/utils";
  import { goto } from "$app/navigation";

  export let projects = [];

  function openCollection() {
    let collectionDetails = document.getElementById(collectionSlug);
    if (collectionDetails) collectionDetails.showModal();
  }

  $: frontProject = projects[0];
  $: collectionSlug = slugify(frontProject.collection);
  $: collectionAuthors = projects.filter((p) => p.author).map((p) => p.author);
</script>

<a
  href="/"
  on:click|preventDefault={() => openCollection()}
  class="block p-2 relative"
>
  <span class="absolute top-0 right-0 badge badge-warning">Collection</span>
  {#if frontProject.cover}
    <figure class="">
      <img
        class="object-cover w-full h-full aspect-[3/4] rounded"
        src={frontProject.cover}
        alt={frontProject.title}
      />
    </figure>
  {:else}
    <div
      class="w-full bg-neutral aspect-[3/4] rounded border border-neutral grid place-content-center"
    >
      <Fa icon={faBook} class="bg-neutral" size="2x" />
    </div>
  {/if}
  <div class="pt-2">
    <span class="text-neutral-content text-xs block"> Collection </span>
    <span class="text-neutral-content text-xs block">
      {projects.length} publications
    </span>
    <div class="w-full flex justify-between items-center pt-3"></div>

    <div class="bg-accent w-14 h-[1px] my-2"></div>
    <h2 class="text-white font-medium leading-relaxed pb-0">
      {frontProject.collection ?? "Untitled"}
    </h2>

    <p class="text-sm">
      By {collectionAuthors.length > 0
        ? collectionAuthors
        : "Gloriouses anonymouses"}
    </p>
  </div>
</a>
<dialog id={collectionSlug} class="modal">
  <div class="modal-box max-w-max">
    <form method="dialog">
      <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2"
        >✕</button
      >
    </form>
    <div class="flex gap-4 w-full relative overflow-y-auto">
      {#each projects as project, i (project.id)}
        <div class="w-48 min-w-[12rem] max-w-[12rem]">
          <ProjectItem {project} />
        </div>
      {/each}
    </div>
  </div>
</dialog>
