<script lang="ts">
  import { EditorView, keymap } from "@codemirror/view";
  import { EditorState } from "@codemirror/state";
  import { basicSetup } from "codemirror";
  import { defaultKeymap } from "@codemirror/commands";
  import { css } from "@codemirror/lang-css";
  import { oneDark } from "@codemirror/theme-one-dark";

  import { onMount } from "svelte";
  import { browser } from "$app/environment";

  import Fa from "svelte-fa/src/fa.svelte";
  import { faSpinner } from "@fortawesome/free-solid-svg-icons/index.js";

  export let content: string;
  export let id: number;
  export let type: string;

  let styleHasChanged = false;
  let styleSaving = false;
  let cmEditor: EditorView;

  async function saveAsTemplate() {}

  async function saveStyle() {
    styleSaving = true;
    let newStyle = cmEditor.state.doc.toString();
    const data = await fetch("/api/projects/styles/", {
      method: "POST",
      body: JSON.stringify({
        id,
        type,
        content: newStyle,
      }),
    });
    const response = await data.json();
    if (data.status !== 200) {
      alert("Style can not be saved", response);
    } else {
      content = newStyle;
      styleHasChanged = false;
    }
    styleSaving = false;
  }

  function cancelStyleChange() {
    const transaction = cmEditor.state.update({
      changes: {
        from: 0,
        to: cmEditor.state?.doc.length,
        insert: content,
      },
    });

    if (transaction) {
      cmEditor.dispatch(transaction);
      styleHasChanged = false;
    }
  }

  function kbdSave() {
    return keymap.of([
      {
        key: "Ctrl-s",
        run() {
          saveStyle();
          return true;
        },
      },
    ]);
  }

  onMount(() => {
    if (browser) {
      const initialText = content;
      const targetElement = document.querySelector("#editor_" + type)!;
      const fixedHeightEditor = EditorView.theme({
        "&": {
          height: "500px",
          border: "1px solid grey",
          "border-radius": "10px",
          padding: "20px",
        },
        ".cm-scroller": { overflow: "auto" },
      });
      const updateListenerExtension = EditorView.updateListener.of((update) => {
        if (update.docChanged) {
          styleHasChanged = true;
        }
      });

      cmEditor = new EditorView({
        state: EditorState.create({
          doc: initialText,
          extensions: [basicSetup, css(), oneDark, fixedHeightEditor, updateListenerExtension, kbdSave()],
        }),
        parent: targetElement,
      });
    }
  });
</script>

<p class="text-sm py-2">Style will be applied to {type} view</p>
<div id="editor_{type}"></div>
{#if styleHasChanged}
  <div class="flex justify-between mt-4">
    <div>
      {#if !styleSaving}
        <button class="btn btn-sm btn-outline" on:click|preventDefault={() => cancelStyleChange()}> Cancel </button>
      {/if}

      <button class="btn btn-sm btn-outline" on:click|preventDefault={() => saveStyle()}>
        {#if styleSaving}
          <Fa icon={faSpinner} spin />
        {:else}
          Save
        {/if}
      </button>
    </div>
  </div>
{/if}
