<script lang="ts">
  import { defaultPrintConfig, generateStylesheet } from "$lib/utils/utils";
  import googleFonts from "$lib/utils/googleFonts";
  import Fa from "svelte-fa/src/fa.svelte";
  import {
    faAlignJustify,
    faAlignLeft,
    faAlignRight,
  } from "@fortawesome/free-solid-svg-icons/index.js";
  export let project;

  let styleSheet = "";
  let styleSaving = false;
  let config = Object.assign(
    defaultPrintConfig,
    JSON.parse(project.print_config),
  );
  config.coverUrl = project.data.metadata?.cover || "";

  async function savePrintConfig() {
    styleSaving = true;
    const data = await fetch("/api/projects/printconfig", {
      method: "POST",
      body: JSON.stringify({
        id: project.id,
        content: config,
      }),
    });
    const response = await data.json();
    styleSaving = false;
  }

  $: styleSheet = generateStylesheet(config);
</script>

<div>
  <p class="text-sm py-4">
    Use this config tool to set default styles applied to your book and use
    "Custom Print CSS" tab for more advanced customization.
  </p>
  <div class="join join-vertical w-full">
    <div class="collapse collapse-arrow join-item border border-base-300">
      <input type="radio" name="my-accordion-4" checked="checked" />
      <div class="collapse-title text-xl font-medium">Book layout</div>
      <div class="collapse-content">
        <!-- Book Layout config -->
        <!--  -->
        <!-- Book Size config -->
        <div class="form-control mb-4">
          <label class="label" for="size">
            <span class="label-text">Book Size</span>
          </label>
          <label class="input-group">
            <select
              bind:value={config.size}
              id="size"
              name="size"
              class="select select-sm select-info w-full max-w-xs"
            >
              <option disabled selected>Book size</option>
              <option value="A5">A5</option>
              <option value="A4">A4</option>
              <option value="A3">A3</option>
            </select>
          </label>
        </div>

        <!--  -->
        <!-- Book Margin config -->
        <div class="flex gap-4 mb-4">
          <label class="form-control w-full max-w-xs">
            <div class="label">
              <span class="label-text">Top margin (mm)</span>
            </div>
            <input
              bind:value={config.margins.top}
              type="number"
              name="top-margin"
              id="top-margin"
              placeholder="Top margin in millimeters"
              class="input input-sm input-bordered w-full max-w-xs"
            />
          </label>
          <label class="form-control w-full max-w-xs">
            <div class="label">
              <span class="label-text">Left margin (mm)</span>
            </div>
            <input
              bind:value={config.margins.left}
              type="number"
              name="left-margin"
              id="left-margin"
              placeholder="Left margin in millimeters"
              class="input input-sm input-bordered w-full max-w-xs"
            />
          </label>
          <label class="form-control w-full max-w-xs">
            <div class="label">
              <span class="label-text">Right margin (mm)</span>
            </div>
            <input
              bind:value={config.margins.right}
              type="number"
              name="right-margin"
              id="right-margin"
              placeholder="Right margin in millimeters"
              class="input input-sm input-bordered w-full max-w-xs"
            />
          </label>
          <label class="form-control w-full max-w-xs">
            <div class="label">
              <span class="label-text">Bottom margin (mm)</span>
            </div>
            <input
              bind:value={config.margins.bottom}
              type="number"
              name="bottom-margin"
              id="bottom-margin"
              placeholder="Bottom margin in millimeters"
              class="input input-sm input-bordered w-full max-w-xs"
            />
          </label>
        </div>

        <!--  -->
        <!-- Different right margins ? -->

        <div class="form-control w-72">
          <label class="cursor-pointer label">
            <span class="label-text">Set custom margins for right page</span>
            <input
              bind:checked={config.hasLeftRightMargin}
              name="chapter-page-break"
              id="chapter-page-break"
              type="checkbox"
              class="toggle toggle-sm toggle-accent"
            />
          </label>
        </div>

        {#if config.hasLeftRightMargin}
          <!--  -->
          <!-- Book Right Margin config -->
          <div class="flex gap-4 mb-4">
            <label class="form-control w-full max-w-xs">
              <div class="label">
                <span class="label-text">Top margin (mm)</span>
              </div>
              <input
                bind:value={config.marginsRight.top}
                type="text"
                name="top-margin"
                id="top-margin"
                placeholder="Top margin in millimeters"
                class="input input-sm input-bordered w-full max-w-xs"
              />
            </label>
            <label class="form-control w-full max-w-xs">
              <div class="label">
                <span class="label-text">Left margin (mm)</span>
              </div>
              <input
                bind:value={config.marginsRight.left}
                type="number"
                name="left-margin"
                id="left-margin"
                placeholder="Left margin in millimeters"
                class="input input-sm input-bordered w-full max-w-xs"
              />
            </label>
            <label class="form-control w-full max-w-xs">
              <div class="label">
                <span class="label-text">Right margin (mm)</span>
              </div>
              <input
                bind:value={config.marginsRight.right}
                type="number"
                name="right-margin"
                id="right-margin"
                placeholder="Right margin in millimeters"
                class="input input-sm input-bordered w-full max-w-xs"
              />
            </label>
            <label class="form-control w-full max-w-xs">
              <div class="label">
                <span class="label-text">Bottom margin (mm)</span>
              </div>
              <input
                bind:value={config.marginsRight.bottom}
                type="number"
                name="bottom-margin"
                id="bottom-margin"
                placeholder="Bottom margin in millimeters"
                class="input input-sm input-bordered w-full max-w-xs"
              />
            </label>
          </div>
        {/if}

        <!--  -->
        <!-- Page break config -->

        <div class="form-control w-72">
          <label class="cursor-pointer label">
            <span class="label-text">Page break on new chapter</span>
            <input
              bind:checked={config.pageBreakOnNewChapter}
              name="chapter-page-break"
              id="chapter-page-break"
              type="checkbox"
              class="toggle toggle-sm toggle-accent"
            />
          </label>
        </div>

        <!--  -->
        <!-- Page number config -->

        <div class="form-control w-72">
          <label class="cursor-pointer label">
            <span class="label-text">Show page number</span>
            <input
              bind:checked={config.showPageNumber}
              name="show-page-number"
              id="show-page-number"
              type="checkbox"
              class="toggle toggle-sm toggle-accent"
            />
          </label>
        </div>

        <!--  -->
        <!-- Show title config -->

        <div class="form-control w-72">
          <label class="cursor-pointer label">
            <span class="label-text">Show book title in bottom margin</span>
            <input
              bind:checked={config.showPageTitleInBottomMargin}
              name="show-page-title"
              id="show-page-title"
              type="checkbox"
              class="toggle toggle-sm toggle-accent"
            />
          </label>
        </div>
      </div>
    </div>
    <div class="collapse collapse-arrow join-item border border-base-300">
      <input type="radio" name="my-accordion-4" />
      <div class="collapse-title text-xl font-medium">Cover</div>
      <div class="collapse-content">
        <!--  -->
        <!-- Show cover config -->

        <div class="form-control w-52">
          <label class="cursor-pointer label">
            <span class="label-text">Show cover image</span>
            <input
              bind:checked={config.showCoverImage}
              disabled={!project.data.metadata?.cover}
              name="show-cover-image"
              id="show-cover-image"
              type="checkbox"
              class="toggle toggle-sm toggle-primary"
            />
          </label>
        </div>
        {#if !project.data.metadata?.cover}
          <p class="text-sm italic">
            Your main pad metadata has no cover field. If you want to use an
            cover image, add a front matter metadata block at the very top of
            your pad :
          </p>
          <div class="mockup-code text-sm">
            <pre data-prefix="1"><code>---</code></pre>
            <pre data-prefix="2"><code>title: Title of your publication</code
              ></pre>
            <pre data-prefix="3"><code>cover: url-of-your-cover-image.jpg</code
              ></pre>
            <pre data-prefix="1"><code>---</code></pre>
            <pre data-prefix="1"><code></code></pre>
            <pre data-prefix="1"><code># Your markdown content starts here</code
              ></pre>
          </div>
        {/if}

        <!--  -->
        <!-- Hide title on cover config -->
        <div class="form-control w-52">
          <label class="cursor-pointer label">
            <span class="label-text">Hide title on cover</span>
            <input
              bind:checked={config.hideCoverTitle}
              name="hide-cover-title"
              id="hide-cover-title"
              type="checkbox"
              class="toggle toggle-sm toggle-secondary"
            />
          </label>
        </div>

        <!--  -->
      </div>
    </div>
    <div class="collapse collapse-arrow join-item border border-base-300">
      <input type="radio" name="my-accordion-4" />
      <div class="collapse-title text-xl font-medium">Fonts and color</div>
      <div class="collapse-content">
        <label class="form-control w-full">
          <h4 class="font-bold">Headings</h4>
          <div class="label">
            <span class="label-text">Headings font</span>
          </div>
          <div class="flex gap-4">
            <select
              bind:value={config.headingFont}
              name="heading-font"
              id="heading-font"
              class="select select-sm select-bordered"
            >
              <option disabled selected>Choose font</option>
              {#each googleFonts as font}
                <option value={font.family}>{font.family}</option>
              {/each}
            </select>

            <div>
              <input
                bind:value={config.headingFontColor}
                name="heading-font-color"
                id="heading-font-color"
                type="color"
                class="w-8"
              />
            </div>
          </div>

          <div class="flex gap-4 w-full">
            <label class="form-control w-full max-w-xs">
              <div class="label">
                <span class="label-text">H1 size (pt)</span>
              </div>
              <input
                bind:value={config.h1FontSize}
                name="h1-font-size"
                id="h1-font-size"
                type="number"
                class="input input-sm input-bordered w-full"
              />
            </label>
            <label class="form-control w-full max-w-xs">
              <div class="label">
                <span class="label-text">H2 size (pt)</span>
              </div>
              <input
                bind:value={config.h2FontSize}
                name="h2-font-size"
                id="h2-font-size"
                type="number"
                class="input input-sm input-bordered w-full"
              />
            </label>
            <label class="form-control w-full max-w-xs">
              <div class="label">
                <span class="label-text">H3 size (pt)</span>
              </div>
              <input
                bind:value={config.h3FontSize}
                name="h3-font-size"
                id="h3-font-size"
                type="number"
                class="input input-sm input-bordered w-full"
              />
            </label>
            <label class="form-control w-full max-w-xs">
              <div class="label">
                <span class="label-text">H4 size (pt)</span>
              </div>
              <input
                bind:value={config.h4FontSize}
                name="h4-font-size"
                id="h4-font-size"
                type="number"
                class="input input-sm input-bordered w-full"
              />
            </label>
            <label class="form-control w-full max-w-xs">
              <div class="label">
                <span class="label-text">H5 size (pt)</span>
              </div>
              <input
                bind:value={config.h5FontSize}
                name="h5-font-size"
                id="h5-font-size"
                type="number"
                class="input input-sm input-bordered w-full"
              />
            </label>
            <label class="form-control w-full max-w-xs">
              <div class="label">
                <span class="label-text">H6 size (pt)</span>
              </div>
              <input
                bind:value={config.h6FontSize}
                name="h6-font-size"
                id="h6-font-size"
                type="number"
                class="input input-sm input-bordered w-full"
              />
            </label>
          </div>
        </label>
        <div class="divider"></div>
        <label class="form-control w-full">
          <h4 class="font-bold">Text</h4>
          <div class="label">
            <span class="label-text">Text font</span>
          </div>
          <div class="flex gap-4">
            <select
              bind:value={config.textFont}
              name="text-font"
              id="text-font"
              class="select select-sm select-bordered"
            >
              <option disabled selected>Choose font</option>
              {#each googleFonts as font}
                <option value={font.family}>{font.family}</option>
              {/each}
            </select>
            <div>
              <input
                bind:value={config.textFontColor}
                name="text-font-color"
                id="text-font-color"
                type="color"
                class="w-8"
              />
            </div>
          </div>
          <div>
            <div class="flex gap-4">
              <label class="form-control">
                <div class="label">
                  <span class="label-text">Text Font Size (pt)</span>
                </div>
                <input
                  bind:value={config.textFontSize}
                  name="text-font-size"
                  id="text-font-size"
                  type="number"
                  class="input input-sm input-bordered w-full"
                />
              </label>
              <label class="form-control">
                <div class="label">
                  <span class="label-text">Line Height (pt)</span>
                </div>
                <input
                  bind:value={config.textLineHeight}
                  name="text-line-height"
                  id="text-line-height"
                  type="number"
                  class="input input-sm input-bordered w-full"
                />
              </label>
              <label class="form-control">
                <div class="label">
                  <span class="label-text">Text Align</span>
                </div>
                <select
                  bind:value={config.textAlign}
                  name="text-align"
                  id="text-align"
                  class="select select-sm select-bordered"
                >
                  <option disabled selected>Choose Alignment</option>
                  <option value="justify"> justify </option>
                  <option value="left"> left </option>
                  <option value="right"> right </option>
                </select>
              </label>
            </div>
          </div>
        </label>
      </div>
    </div>
    <div class="collapse collapse-arrow join-item border border-base-300">
      <input type="radio" name="my-accordion-4" />
      <div class="collapse-title text-xl font-medium">Containers</div>
      <div class="collapse-content">
        {#each ["success", "info", "warning", "danger"] as containerType}
          <div class="divider"></div>

          <label class="form-control w-full">
            <h4 class="font-bold mb-4">{containerType}</h4>

            <div class="flex gap-4">
              <div class="label">
                <span class="label-text">Background Color :</span>
              </div>
              <div>
                <input
                  bind:value={config.containers[containerType].backgroundColor}
                  name="{containerType}-text-bgcolor"
                  id="{containerType}-text-bgcolor"
                  type="color"
                  class="w-8"
                />
              </div>
              <div class="label">
                <span class="label-text">Font Color :</span>
              </div>
              <div>
                <input
                  bind:value={config.containers[containerType].textFontColor}
                  name="{containerType}-text-font-color"
                  id="{containerType}-text-font-color"
                  type="color"
                  class="w-8"
                />
              </div>
              <div class="label">
                <span class="label-text">Text font :</span>
              </div>
              <select
                bind:value={config.containers[containerType].textFont}
                name="{containerType}-text-font"
                id="{containerType}-text-font"
                class="select select-sm select-bordered"
              >
                <option disabled>Choose font</option>
                <option selected value="" class="font-bold"
                  >Same as document text font</option
                >
                <option disabled>-------------</option>
                {#each googleFonts as font}
                  <option value={font.family}>{font.family}</option>
                {/each}
              </select>
            </div>
            <div>
              <div class="flex gap-4">
                <label class="form-control">
                  <div class="label">
                    <span class="label-text">Text Font Size (pt)</span>
                  </div>
                  <input
                    bind:value={config.containers[containerType].textFontSize}
                    name="{containerType}-text-font-size"
                    id="{containerType}-text-font-size"
                    type="number"
                    class="input input-sm input-bordered w-full"
                  />
                </label>
                <label class="form-control">
                  <div class="label">
                    <span class="label-text">Line Height (pt)</span>
                  </div>
                  <input
                    bind:value={config.containers[containerType].textLineHeight}
                    name="{containerType}-text-line-height"
                    id="{containerType}-text-line-height"
                    type="number"
                    class="input input-sm input-bordered w-full"
                  />
                </label>
                <label class="form-control">
                  <div class="label">
                    <span class="label-text">Text Align</span>
                  </div>
                  <select
                    bind:value={config.containers[containerType].textAlign}
                    name="{containerType}-text-align"
                    id="{containerType}-text-align"
                    class="select select-sm select-bordered"
                  >
                    <option disabled selected>Choose Alignment</option>
                    <option value="justify"> justify </option>
                    <option value="left"> left </option>
                    <option value="right"> right </option>
                  </select>
                </label>
                <label class="form-control">
                  <div class="label">
                    <span class="label-text">Rounded Corner (pt)</span>
                  </div>
                  <input
                    bind:value={config.containers[containerType].borderRadius}
                    name="{containerType}-border-radius"
                    id="{containerType}-border-radius"
                    type="number"
                    class="input input-sm input-bordered w-full"
                  />
                </label>
              </div>
              <div class="flex gap-4">
                <label class="form-control">
                  <div class="label">
                    <span class="label-text"
                      >Internal margin Top & Bottom (mm)</span
                    >
                  </div>
                  <input
                    bind:value={config.containers[containerType].paddingY}
                    name="{containerType}-paddingY"
                    id="{containerType}-paddingY"
                    type="number"
                    class="input input-sm input-bordered w-full"
                  />
                </label>
                <label class="form-control">
                  <div class="label">
                    <span class="label-text"
                      >Internal margin Left & Right (mm)</span
                    >
                  </div>
                  <input
                    bind:value={config.containers[containerType].paddingX}
                    name="{containerType}-paddingX"
                    id="{containerType}-paddingX"
                    type="number"
                    class="input input-sm input-bordered w-full"
                  />
                </label>
              </div>
            </div>
          </label>
        {/each}
      </div>
    </div>
    <div class="collapse collapse-arrow join-item border border-base-300">
      <input type="radio" name="my-accordion-4" />
      <div class="collapse-title text-xl font-medium">Misc & tips</div>
      <div class="collapse-content">
        <div class="form-control">
          <label class="label cursor-pointer">
            <span class="label-text">Use H6 page break hack</span>
            <input
              bind:checked={config.useH6AsPageBreak}
              name="h6-page-break"
              id="h6-page-break"
              type="checkbox"
              class="checkbox checkbox-primary"
            />
          </label>
          <p class="text-sm italic">
            In your pad, <strong>######</strong> (the "title level 6" markdown syntax
            but with no text after) will not be displayed and will be interpreted
            as a page break.
          </p>
        </div>
        <div class="divider"></div>
        <div>
          <h4 class="font-bold">Image size and alignment</h4>
          <p class="text-sm italic">
            You can add #left, #right, #center, #fullpage at the end of your
            images urls to align them to the left, right, center or display full
            page
          </p>
          <p class="text-sm italic">
            #left, #right, #center can be use in combinaison with hedgedoc
            markdown syntax for size : =widthxheight
          </p>
          <p class="text-sm italic">
            Exemple center and resize to 200px width (height auto) an image :
          </p>
          <div class="mockup-code text-sm my-2">
            <pre data-prefix="1"><code
                >![Mon image](https://url.com/image.jpg#center =200x)</code
              ></pre>
          </div>
          <p class="text-sm italic">
            For any help on hedgedoc features : <a
              href="https://demo.hedgedoc.org/s/features"
              >https://demo.hedgedoc.org/s/features</a
            >
          </p>
        </div>
        <div class="divider"></div>
        <div>
          <h4 class="font-bold">Generate QRCode</h4>
          <p class="text-sm italic">
            You can display an url in the form of a QRCode by adding #qrcode at
            the end of the url.
          </p>
          <p class="text-sm italic">Exemple :</p>
          <div class="mockup-code text-sm my-2">
            <pre data-prefix="1"><code
                >[](https://url.com/index.html#qrcode)</code
              ></pre>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="flex gap-4 my-4">
    {#if !styleSaving}
      <button class="btn btn-outline btn-sm" onclick="code_preview.showModal()"
        >View code</button
      >
    {/if}
    <button class="btn btn-outline btn-sm" on:click={() => savePrintConfig()}>
      {#if styleSaving}
        <span class="loading loading-spinner loading-sm"></span>
      {:else}
        Save print configuration
      {/if}
    </button>
  </div>

  <dialog id="code_preview" class="modal">
    <div class="modal-box w-11/12 max-w-5xl">
      <p class=" py-4">
        This code will be added to the print view. Use "Custom Print CSS" tab to
        add or override book style.
      </p>
      <div class="mockup-code text-xs">
        <pre data-prefix="1"><code>{styleSheet}</code></pre>
      </div>
      <div class="modal-action">
        <form method="dialog">
          <!-- if there is a button in form, it will close the modal -->
          <button class="btn">Close</button>
        </form>
      </div>
    </div>
  </dialog>
</div>
