<script lang="ts">
  import Fa from "svelte-fa/src/fa.svelte";
  import { faBook, faTags } from "@fortawesome/free-solid-svg-icons";
  import { timeAgo } from "$lib/utils/utils";
  import { goto } from "$app/navigation";

  export let project;
</script>

<a href={`/projects/${project.id}`} class="block p-2 relative">
  {#if project.cover}
    <figure class="">
      <img
        class="object-cover w-full h-full aspect-[3/4] rounded"
        src={project.cover}
        alt={project.title}
      />
    </figure>
  {:else}
    <div
      class="w-full bg-neutral aspect-[3/4] rounded border border-neutral grid place-content-center"
    >
      <Fa icon={faBook} class="bg-neutral" size="2x" />
    </div>
  {/if}

  <div class="pt-2">
    <span class="text-neutral-content text-xs block">
      Last update {timeAgo(project.updated_at)}</span
    >
    <span class="text-neutral-content text-xs block">
      Creation {timeAgo(project.created_at)}</span
    >
    <div class="w-full flex justify-between items-center pt-3"></div>

    <div class="bg-accent w-14 h-[1px] my-2"></div>
    <h2 class="text-white font-medium leading-relaxed pb-0">
      {project.title ?? "Untitled"}
    </h2>
    <p class="text-sm">
      By {project.author || "Glorious anonymous"}
    </p>
    {#if project.tags}
      <p class="text-sm pt-2">
        <Fa icon={faTags} class="inline" />
        {project.tags || "no tags"}
      </p>
    {/if}
  </div>
</a>
