<script lang="ts">
  import Fa from "svelte-fa/src/fa.svelte";
  import { faArrowUpRightFromSquare, faArrowsRotate, faSpinner } from "@fortawesome/free-solid-svg-icons/index.js";
  import { createEventDispatcher } from "svelte";

  export let sections: Section[];
  export let reloadingSection: number;

  const dispatch = createEventDispatcher();
  const onReloadSection = (url: string | null, sectionId: number) => {
    dispatch("reloadSection", { url, sectionId });
  };
</script>

<table class="w-full table">
  <thead class="border-y border-neutral">
    <tr>
      <td class="text-accent py-2 font-bold">Title</td>
      <td class="text-accent py-2 font-bold">Url</td>
      <td></td>
    </tr>
  </thead>
  <tbody>
    {#each sections as item, i (i)}
      {@const className = item.status === "ok" ? "text-success py-2" : item.status === "error" ? "text-error py-2" : "text-info py-2"}
      <tr class="border-b border-neutral">
        <td class="text-success py-2">
          {#each Array(item.level - 1) as spacer, i}
            &nbsp;&nbsp;&nbsp;&nbsp;
          {/each}
          {#if reloadingSection === item.id}
            ...
          {:else}
            {item.title}
          {/if}
        </td>
        <td class="text-neutral-content py-2">
          {#if reloadingSection === item.id}
            ...
          {:else}
            <a href={item.url} target="_blank" class="flex items-center gap-2">
              <Fa icon={faArrowUpRightFromSquare} />
              {item.url}
            </a>
          {/if}
        </td>
        <td>
          <button class="btn btn-outline btn-success btn-xs" on:click={() => onReloadSection(item.url, item.id)}>
            {#if reloadingSection === item.id}
              <Fa icon={faSpinner} spin />
            {:else}
              <Fa icon={faArrowsRotate} />
            {/if}
          </button>
        </td>
      </tr>
    {/each}
  </tbody>
</table>
