<script lang="ts">
  import type { PageData } from "./$types";
  import Home from "$lib/components/webView/templates/default/Home.svelte";
  import Portal from "$lib/components/webView/templates/default/Portal.svelte";
  export let data: PageData;

  $: ({ project } = data);
</script>

<Home source={project} />
