<script lang="ts">
  import type { PageData } from "./$types";

  import Fa from "svelte-fa/src/fa.svelte";
  import {
    faMagnifyingGlass,
    faSquarePlus,
  } from "@fortawesome/free-solid-svg-icons/index.js";
  import Section from "$lib/components/Section.svelte";
  import { onMount } from "svelte";
  import { timeAgo } from "$lib/utils/utils";
  import ProjectItem from "$lib/components/projects/ProjectItem.svelte";
  import CollectionItem from "$lib/components/projects/CollectionItem.svelte";

  export let data: PageData;
  let searchInput: string = "";
  let filteredProjects = [];
  let collectionExpandedId = null;

  function filterProjects() {
    if (searchInput !== "") {
      filteredProjects = projects.filter((p) => {
        return p.title.toLowerCase().indexOf(searchInput.toLowerCase()) >= 0;
      });
    } else {
      filteredProjects = [...projects];
    }
  }

  onMount(() => {
    filteredProjects = [...projects];
    filteredProjects = Object.groupBy(
      filteredProjects,
      ({ collection }) => collection,
    );
  });

  $: ({ projects } = data);
</script>

<Section title="Zine-o-thèque" subtitle="" backButton={false}>
  <div class="join w-full mb-4">
    <input
      class="join-item w-full p-2 border-neutral rounded-none"
      type="text"
      bind:value={searchInput}
      on:input={() => filterProjects()}
      placeholder="Search by zine title"
    />
    <button class="btn join-item rounded-none"
      ><Fa icon={faMagnifyingGlass} /></button
    >
  </div>

  <div
    class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-12 m-4"
  >
    <a href={`/projects/new`} class="block p-2">
      <div
        class="w-full bg-neutral aspect-[3/4] rounded border border-neutral grid place-content-center"
      >
        <Fa icon={faSquarePlus} class="bg-neutral" size="3x" />
      </div>
    </a>
    {#each Object.entries(filteredProjects) as [collectionName, projects]}
      {#if collectionName !== "null"}
        <CollectionItem {projects} />
      {:else}
        {#each projects as project}
          <ProjectItem {project} />
        {/each}
      {/if}
    {/each}
  </div>
</Section>
