<script lang="ts">
  import { fade } from "svelte/transition";
  import { getNewProject } from "$lib/context/newProjectContext";

  import Fa from "svelte-fa/src/fa.svelte";
  import { faSpinner, faSkullCrossbones, faArrowUpRightFromSquare } from "@fortawesome/free-solid-svg-icons/index.js";
  import { goto } from "$app/navigation";

  const newProject = getNewProject();

  let report: ReportMessage[] = [];

  let loading = false;

  async function fetchContent() {
    loading = true;
    const data = await fetch("/api/projects/new/", {
      method: "POST",
      body: JSON.stringify({
        name: $newProject.name,
        url: $newProject.url,
      }),
    });
    const response = await data.json();

    if (data.status !== 200) {
      report = [];
      $newProject.urlIsValid = false;

      if (response.code === "INVALID_SUMMARY") {
        response.errors.forEach((error) => {
          report.push({
            code: error.code,
            url: error.url,
            message: error.message,
            title: error.title,
          });
        });
      } else {
        report.push({
          url: response.url,
          code: response.code,
          message: response.message,
          title: response.title,
        });
      }
      loading = false;
    } else {
      goto("/projects");
    }
  }
</script>

<div class="form-control w-full" transition:fade={{ delay: 250, duration: 300 }}>
  <label class="label" for="name">
    <span class="text-white">
      Main url
      <p class="text-sm text-neutral-content">Url to a summary pad for your site. The pad must contain a list of valid pads urls.</p>
    </span>
  </label>
  <div class="join w-full">
    <input class="input input-bordered w-3/4 join-item" type="url" name="url" id="url" placeholder="Url" bind:value={$newProject.url} required />
    <button class="btn btn-outline btn-neutral join-item" on:click|preventDefault={() => fetchContent()}>
      {#if loading}
        <Fa icon={faSpinner} spin />
      {:else}
        Fetch content
      {/if}
    </button>
  </div>
  <label class="label" for="name">
    {#if report.length > 0}
      <span class="label-text-alt text-error">
        <Fa icon={faSkullCrossbones} class="inline" /> Something went wrong when parsing your documents. Check below.
      </span>
    {/if}
  </label>
  {#if report.length > 0}
    <table class="mt-4 ml-2">
      <thead class="border-y border-neutral">
        <tr>
          <td class="text-sm py-1 text-warning">Url</td>
          <td class="text-sm py-1 text-warning">Error</td>
          <td class="text-sm py-1 text-warning">Message</td>
        </tr>
      </thead>
      <tbody>
        {#each report as item, i (i)}
          <tr class="border-b border-neutral">
            <td class="text-error">
              <a href={item.url} target="_blank" class="flex items-center gap-2">
                <Fa icon={faArrowUpRightFromSquare} />
                {item.url}
              </a>
            </td>
            <td class="text-error">
              {item.title}
            </td>
            <td class="text-error">
              {item.message || "-"}
            </td>
          </tr>
        {/each}
      </tbody>
    </table>
  {/if}
</div>
