<script lang="ts">
  import { slugify } from "$lib/utils/utils";
  import { page } from "$app/stores";

  import { getNewProject } from "$lib/context/newProjectContext";
  const newProject = getNewProject();

  export let names: string[] = [];

  let nameIsAvailable = false;

  function slugifyName(event: Event) {
    const target = event.target as HTMLInputElement;
    $newProject.name = slugify(target.value);
    nameIsAvailable = $newProject.name !== "" && !names.includes($newProject.name);
    checkName();
  }

  function cleanName(event: Event) {
    const target = event.target as HTMLFormElement;
    if (target) {
      $newProject.name = target.value.trim().replace(/-+$/, "");
    }
    checkName();
  }

  function checkName() {
    if ($newProject.name !== "" && nameIsAvailable) {
      $newProject.nameIsValid = true;
    } else {
      $newProject.nameIsValid = false;
    }
  }
</script>

<div class="form-control w-full">
  <label class="label" for="name">
    <span class="text-white">
      Project name
      <p class="text-sm text-neutral-content">Slug to access the site. White spaces will be converted to hyphens, other special characters will be removed as you type.</p>
    </span>
  </label>
  <input
    class="input input-bordered w-1/2 mr-4"
    type="text"
    name="name"
    id="name"
    placeholder="Name"
    bind:value={$newProject.name}
    on:input={(e) => slugifyName(e)}
    on:change={(e) => cleanName(e)}
    autocomplete="off"
    required
    maxlength="60"
  />
  <label class="label" for="name">
    {#if $newProject.name !== ""}
      {#if nameIsAvailable}
        <span class="label-text-alt text-success">Your site's url will be <strong>{$page.url.origin}/{$newProject.name}</strong></span>
      {:else}
        <span class="label-text-alt text-error">The name <strong>{$newProject.name}</strong> is not available. Please try another one.</span>
      {/if}
    {/if}
  </label>
</div>
