<script lang="ts">
  import ProjectNameInput from "./ProjectNameInput.svelte";
  import ProjectUrlInput from "./ProjectUrlInput.svelte";

  import { getNewProject } from "$lib/context/newProjectContext";
  const newProject = getNewProject();

  export let names: string[] = [];
</script>

<div class="p-10 flex flex-col gap-6">
  <ProjectNameInput {names} />
  {#if $newProject.nameIsValid}
    <ProjectUrlInput />
  {/if}
</div>
