<script lang="ts">
  import { createEventDispatcher } from "svelte";

  export let name: string;
  export let items: Section[];
  export let path: string;

  const dispatch = createEventDispatcher();

  function setPath(newPath: string) {
    dispatch("menuLink", {
      path: newPath,
    });
  }

  function openMenu(target, path) {
    target.classList.toggle("menu-dropdown-show");
    target.nextElementSibling.classList.toggle("menu-dropdown-show");
    setPath(path);
  }
</script>

{#each items as entry, i (i)}
  {@const activeClass = entry.path === path ? "active" : ""}
  <li>
    {#if entry.children && entry.children.length > 0}
      <!-- svelte-ignore a11y-click-events-have-key-events -->
      <a href="/" class="menu-dropdown-toggle {activeClass}" on:click|preventDefault={(event) => openMenu(event.target, entry.path)}>{entry.title}</a>
      <ul class="menu-dropdown">
        <svelte:self {name} items={entry.children} {path} on:menuLink />
      </ul>
    {:else}
      <a
        href="/"
        class={activeClass}
        on:click|preventDefault={() => {
          setPath(entry.path);
        }}>{entry.title}</a
      >
    {/if}
  </li>
{/each}
