<script lang="ts">
  import { buildTree } from "$lib/utils/utils";
  import { onMount } from "svelte";
  import NavList from "./NavList.svelte";
  import "./style.css";
  import { browser } from "$app/environment";
  export let source;
  let project: Project;

  function goHome() {
    _path = project.sections[0].path || "";
  }

  $: project = source.data;
  $: navcontent = buildTree(project?.sections);

  let _path = "";
  function setPath(e) {
    _path = e.detail.path;
  }

  onMount(async () => {
    const { loadScript } = await import("./script");
    if (browser) {
      loadScript();
    }
    let style = document.createElement("style");
    style.innerHTML = source.styles_screen;
    document.head.appendChild(style);
  });
</script>

<div class="drawer drawer-end">
  <input id="my-drawer-3" type="checkbox" class="drawer-toggle" />
  <div class="drawer-content flex flex-col">
    <!-- Navbar -->
    <div class=" bg-base-100 shadow h-16">
      <div class="w-full navbar container mx-auto">
        <div class="flex-1 px-2 mx-2">
          <a class="font-extrabold text-sm md:text-lg" href="/" on:click|preventDefault={() => goHome()}>
            {project.metadata?.title ?? "Untitled"}
          </a>
        </div>
        <div class="flex-none">
          <label for="my-drawer-3" aria-label="open sidebar" class="btn btn-square btn-ghost">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-6 h-6 stroke-current"
              ><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" /></svg
            >
          </label>
        </div>
      </div>
    </div>
    <main class="mt-12 mb-24">
      <section class="container mx-auto mb-10">
        <article class=" max-w-4xl mx-auto p-6 md:p-10">
          <div class="grid grid-cols-3">
            {#each project.sections as section}
              <div class="card bg-base-100 shadow-xl">
                <div class="card-body">
                  <h2 class="card-title">{section.title}</h2>
                  <p class="prose">{@html section.page?.content}</p>
                  <div class="card-actions justify-end">
                    <button class="btn btn-primary">Buy Now</button>
                  </div>
                </div>
              </div>
            {/each}
          </div>
        </article>
      </section>
    </main>
    <footer class="fixed bottom-0 footer items-center gap-1 p-4 bg-base-100 text-base-content border-t border-base-300">
      <aside class="items-center grid-flow-col">
        {#if project.metadata?.licence}
          <p>{project.metadata.licence}</p>
        {:else}
          <p>Set your licence by using the 'licence' keyword in your main pad settings</p>
        {/if}
      </aside>
      <nav class="grid-flow-col gap-4 md:place-self-center md:justify-self-end">
        Theme :
        <button data-set-theme="light" data-act-class="ACTIVECLASS">Light</button>
        <button data-set-theme="dark" data-act-class="ACTIVECLASS">Dark</button>
        <button data-set-theme="cyberpunk" data-act-class="ACTIVECLASS">Punk</button>
        <button data-set-theme="synthwave" data-act-class="ACTIVECLASS">Wave</button>
      </nav>
    </footer>
  </div>
  <div class="drawer-side">
    <label for="my-drawer-3" aria-label="close sidebar" class="drawer-overlay" />

    <ul class="menu p-4 w-80 min-h-full bg-base-200">
      <NavList name={project.name} items={navcontent} path={_path} on:menuLink={setPath} />
    </ul>
  </div>
</div>
