<script lang="ts">
  import type { PageData } from "./$types";
  import { goto, invalidateAll } from "$app/navigation";
  import { timeAgo } from "$lib/utils/utils";

  import Fa from "svelte-fa/src/fa.svelte";
  import {
    faArrowUpRightFromSquare,
    faArrowsRotate,
    faBook,
    faCloudArrowUp,
    faDesktop,
    faSpinner,
    faSync,
    faTrashCan,
    faTriangleExclamation,
  } from "@fortawesome/free-solid-svg-icons/index.js";

  import Editor from "$lib/components/projects/Editor.svelte";
  import Section from "$lib/components/Section.svelte";
  import ReportTable from "$lib/components/ReportTable.svelte";
  import ProjectSummary from "$lib/components/projects/ProjectSummary.svelte";
  import PrintConfig from "$lib/components/projects/PrintConfig.svelte";

  export let data: PageData;

  let reloading = false;
  let reloadingMetadata = false;
  let backup = false;
  let reloadingSection = -1;
  let report: ReportMessage[] = [];
  let confirmDelete = false;

  $: ({ project } = data);

  async function backupProject() {
    backup = true;

    const data = await fetch("/api/projects/backup", {
      method: "POST",
      body: JSON.stringify({
        id: project.id,
      }),
    });
    const response = await data.json();
    if (data.status !== 200) {
      console.log(
        "Error during backup",
        response.code,
        response.message,
        response.title,
      );
    }
    backup = false;
  }

  async function deleteProject() {
    if (confirmDelete) {
      const data = await fetch(`/api/projects/delete/${project.id}`, {
        method: "POST",
        body: JSON.stringify({
          id: project.id,
        }),
      });
      const response = await data.json();
      if (data.status !== 200) {
      } else {
        goto("/projects");
      }
    } else {
      confirmDelete = true;
      setTimeout(() => {
        confirmDelete = false;
      }, 3000);
    }
  }

  async function reloadMetadata() {
    reloadingMetadata = true;
    report = [];
    const data = await fetch("/api/projects/new/metadata", {
      method: "POST",
      body: JSON.stringify({
        id: project.id,
        url: project.data.url,
      }),
    });
    const response = await data.json();
    if (data.status !== 200) {
      report.push({
        url: response.url,
        code: response.code,
        message: response.message,
        title: response.title,
      });
    } else {
      await invalidateAll();
    }
    reloadingMetadata = false;
  }

  async function reloadContent() {
    reloading = true;
    report = [];
    const data = await fetch("/api/projects/new/", {
      method: "POST",
      body: JSON.stringify({
        id: project.id,
        name: project.data.name,
        url: project.data.url,
      }),
    });
    const response = await data.json();
    if (data.status !== 200) {
      if (response.code === "INVALID_SUMMARY") {
        response.errors.forEach((error) => {
          report.push({
            code: error.code,
            url: error.url,
            message: error.message,
            title: error.title,
          });
        });
      } else {
        report.push({
          url: response.url,
          code: response.code,
          message: response.message,
          title: response.title,
        });
      }
    } else {
      await invalidateAll();
    }
    reloading = false;
  }

  async function reloadSection(event: any) {
    if (event.detail.url && event.detail.url !== "") {
      reloadingSection = event.detail.sectionId;
      const data = await fetch(`/api/projects/new/section`, {
        method: "POST",
        body: JSON.stringify({
          url: event.detail.url,
          projectId: project.id,
          sectionId: event.detail.sectionId,
        }),
      });
      const response = await data.json();
      console.log(response);
      if (data.status !== 200) {
        report.push({
          url: response.url,
          code: response.code,
          message: response.message,
          title: response.title,
        });
      }
      reloadingSection = -1;
    }
  }
</script>

<Section
  title={project.data.metadata?.title || "Untitled"}
  subtitle={project.data.metadata.author || ""}
>
  <div class="flex m-10 gap-12">
    <div class="w-56">
      {#if project.data.metadata?.cover}
        <figure>
          <img
            class="object-cover w-full h-full aspect-[3/4] rounded"
            src={project.data.metadata.cover}
            alt={project.data.metadata.title}
          />
        </figure>
      {/if}
      <div class="bg-accent w-14 h-[1px] mt-8 mb-2"></div>
      <div class="mt-2">
        <span class="text-neutral-content block text-sm">
          Last update : {timeAgo(project.updated_at)}</span
        >
        <span class="text-neutral-content block text-sm">
          Created : {timeAgo(project.created_at)}</span
        >
      </div>
      <div class="mt-2 flex flex-col gap-4 justify-center mt-6">
        <a
          class="btn btn-success btn-sm btn-outline"
          href="/{project.data.name}"
          target="_blank"><Fa icon={faDesktop} />Web view</a
        >
        <a
          class="btn btn-success btn-sm btn-outline"
          href="/print/{project.data.name}"
          target="_blank"><Fa icon={faBook} /> Print view</a
        >
        <button
          class="btn btn-accent btn-sm btn-outline"
          on:click|preventDefault={() => backupProject()}
        >
          {#if backup}
            <span class="loading loading-spinner loading-sm text-error"></span>
          {:else}
            <Fa icon={faCloudArrowUp} /> Backup project
          {/if}
        </button>
        <button
          class={`btn ${
            confirmDelete ? "btn-warning" : "btn-error"
          } btn-sm btn-outline`}
          on:click|preventDefault={() => deleteProject()}
        >
          {#if !confirmDelete}
            <Fa icon={faTrashCan} /> Delete project
          {:else}
            <span class="loading loading-spinner loading-sm text-error"></span> Confirm
            ?
          {/if}
        </button>
        <p class="text-xs text-center font-light italic">
          Deleting your projet does not delete your pads contents. But you will
          loose the style you've created. Save them before hitting this button.
        </p>
      </div>
    </div>
    <div class="grow">
      <div role="tablist" class="tabs tabs-bordered">
        <input
          type="radio"
          name="my_tabs_1"
          role="tab"
          class="tab whitespace-nowrap"
          aria-label="Content"
          checked
        />
        <div role="tabpanel" class="tab-content py-4">
          <div class="flex justify-between">
            <p class="text-neutral-content py-2">
              <span class="text-sm text-white">Based on :</span>
              <a class=" text-sm" href={project.data.url} target="_blank">
                {project.data.url}
              </a>
            </p>

            <div class="flex gap-4">
              {#if !reloading}
                <button
                  class="btn btn-success btn-outline btn-sm"
                  on:click|preventDefault={() => reloadMetadata()}
                >
                  {#if reloadingMetadata}
                    <span class="loading loading-spinner loading-sm"></span>
                  {:else}
                    <Fa icon={faArrowsRotate} /> Reload metadata only
                  {/if}
                </button>
                <button
                  class="btn btn-success btn-outline btn-sm"
                  on:click|preventDefault={() => reloadContent()}
                >
                  <Fa icon={faArrowsRotate} /> Reload all content
                </button>
              {/if}
            </div>
          </div>
          {#if reloading}
            <div class="py-10 text-center">
              <span class="loading loading-spinner loading-sm text-success"
              ></span><span class="px-5 text-success">
                Fetching contents...</span
              >
            </div>
          {:else if report.length > 0}
            <ReportTable {report} />
          {:else}
            <ProjectSummary
              sections={project.data.sections}
              {reloadingSection}
              on:reloadSection={reloadSection}
            />
          {/if}
        </div>

        <input
          type="radio"
          name="my_tabs_1"
          role="tab"
          class="tab whitespace-nowrap"
          aria-label="Print Config"
        />
        <div role="tabpanel" class="tab-content py-4">
          <PrintConfig {project} />
        </div>

        <input
          type="radio"
          name="my_tabs_1"
          role="tab"
          class="tab whitespace-nowrap"
          aria-label="Custom Web CSS"
        />
        <div role="tabpanel" class="tab-content py-4">
          <Editor
            id={project.id}
            type="screen"
            content={project.styles_screen}
          />
        </div>

        <input
          type="radio"
          name="my_tabs_1"
          role="tab"
          class="tab whitespace-nowrap"
          aria-label="Custom Print CSS"
        />
        <div role="tabpanel" class="tab-content py-4">
          <Editor id={project.id} type="print" content={project.styles_print} />
        </div>
      </div>
    </div>
  </div>
</Section>
