<script>
  import { onMount } from "svelte";
  import "../../app.css";
  import { browser } from "$app/environment";

  import Fa from "svelte-fa/src/fa.svelte";
  import { faSprayCanSparkles } from "@fortawesome/free-solid-svg-icons/index.js";
  onMount(() => {
    if (browser) {
      document.documentElement.dataset.theme = "dark";
    }
  });
</script>

<div class="container mx-auto">
  <header class="py-5 flex justify-around">
    <div>
      <h1 class="text-2xl flex gap-6 items-center">
        <Fa icon={faSprayCanSparkles} scale={1.4} />
        <a href="/">
          <p class="text-white">web-o-matic</p>
          <p class="text-sm text-neutral-content text-center">Nerds poetry</p>
        </a>
      </h1>
    </div>
  </header>
  <main>
    <slot />
  </main>
</div>
