<script lang="ts">
</script>

<section class="min-h-[600px] grid place-content-center p-16">
  <p class=" py-1"><span class="font-bold">web-o-matic</span> uses hedgedoc pads to build your next <strong>fanzine</strong> (websites and print document).</p>
  <p class="py-1">Start by creating a pad containing only a list of links to other pads and a some frontmatter configuration if needed (title, cover...).</p>
  <p class="py-1">
    Then go to <a class="underline" href="/projects">projects page</a>, hit the new button, give your project a name, fill in the main pad url with your brand new hedgedoc url, and voilà!
  </p>
  <p class="py-1">You now have a fully collaborative editable website and pdf document ! <span class="font-bold">Enjoy !</span></p>
</section>
