<script lang="ts">
  import type { PageData } from "./$types";

  import Section from "$lib/components/Section.svelte";
  import ProjectForm from "$lib/components/new/ProjectForm.svelte";

  import { setNewProject, getNewProject } from "$lib/context/newProjectContext";

  export let data: PageData;

  setNewProject();
  const newProject = getNewProject();

  $: ({ names } = data);
</script>

<Section title="New project" subtitle="Associate your content to an identifier and generate publication">
  <ProjectForm {names} />
</Section>
