<script lang="ts">
  import Fa from "svelte-fa/src/fa.svelte";
  import { faArrowUpRightFromSquare } from "@fortawesome/free-solid-svg-icons/index.js";

  export let report: ReportMessage[];
</script>

<table class="mt-4 ml-2 w-full">
  <thead class="border-y border-neutral">
    <tr>
      <td class="text-sm py-1 text-warning">Url</td>
      <td class="text-sm py-1 text-warning">Error</td>
      <td class="text-sm py-1 text-warning">Message</td>
    </tr>
  </thead>
  <tbody>
    {#each report as item, i (i)}
      <tr class="border-b border-neutral">
        <td class="text-error">
          <a href={item.url} target="_blank" class="flex items-center gap-2">
            <Fa icon={faArrowUpRightFromSquare} />
            {item.url}
          </a>
        </td>
        <td class="text-error">
          {item.title}
        </td>
        <td class="text-error">
          {item.message || "-"}
        </td>
      </tr>
    {/each}
  </tbody>
</table>
