<script lang="ts">
  import Fa from "svelte-fa/src/fa.svelte";
  import { faBook, faChevronLeft, faDesktop, faSpinner, faTrashCan, faWarning } from "@fortawesome/free-solid-svg-icons/index.js";

  export let title: string;
  export let subtitle: string;
  export let backButton: boolean = true;
</script>

<section class="rounded-lg border border-neutral mb-4">
  <header class="p-4 border-b border-neutral">
    <div class="flex gap-4 justify-between items-center">
      <div class="flex gap-4 items-center">
        {#if backButton}
          <a href="/projects" class="btn btn-success btn-sm btn-outline">
            <Fa icon={faChevronLeft} />
          </a>
        {/if}
        <div>
          <h2 class="text-xl text-white">{title}</h2>
          <p class="text-neutral-content text-sm">
            {subtitle}
          </p>
        </div>
      </div>
    </div>
  </header>

  <slot />

  <footer class="p-4 border-t border-neutral flex justify-between items-center"></footer>
</section>
